In [1]:
import pandas as pd
import glob

In [ ]:
files = sorted(glob.glob('data/**/*.csv', recursive=True))

In [3]:
len(files) # 2017 (4), 2018 (4), 2019 (4), 2020 (12), 2021 (12), 2022 (12), 2023 (12), 2024 (9)

69

In [4]:
columns_mapping = {'Bike Id': 'Bike Id',
 'End Station Id': 'End Station Id',
 'End Station Name': 'End Station Name',
 'End Time': 'End Time',
 'Model': 'Model',
 'Start Station Id': 'Start Station Id',
 'Start Station Name': 'Start Station Name',
 'Start Time': 'Start Time',
 'Trip  Duration': 'Trip Duration',
 'Trip Id': 'Trip Id',
 'User Type': 'User Type',
 'from_station_id': 'Start Station Id',
 'from_station_name': 'Start Station Name',
 'to_station_id': 'End Station Id',
 'to_station_name': 'End Station Name',
 'trip_duration_seconds': 'Trip Duration',
 'trip_id': 'Trip Id',
 'trip_start_time': 'Start Time',
 'trip_stop_time': 'End Time',
 'user_type': 'User Type'}

In [12]:
columns_types = {'Trip Id': 'str',
                 'Start Time': 'datetime64[ns]', 
                 'End Time': 'datetime64[ns]', 
                 'Trip Duration': 'int32', 
                 'Start Station Id': 'int32', 
                 'Start Station Name': 'str', 
                 'End Station Id': 'int32', 
                 'End Station Name': 'str', 
                 'User Type': 'str'}

incomplete_columns_types = {'Trip Id': 'str',
                 'Start Time': 'datetime64[ns]', 
                 'End Time': 'datetime64[ns]', 
                 'Trip Duration': 'int32', 
                 'Start Station Name': 'str', 
                 'End Station Name': 'str', 
                 'User Type': 'str'}

In [6]:
import pandas as pd

# Read, clean, and store each dataset in a list
final_dfs = []
skipped_files = []
column_names = set()

# def clean_df(df):
    

for file in files:
    try:
        df = pd.read_csv(file, encoding='utf-8')
        df_cleaned = df.dropna()  # Remove null values
        df_renamed = df_cleaned.rename(columns_mapping, axis=1) # Rename columns if necessary
        if "End Station Id" not in df_renamed.columns or "Start Station Id" not in df_renamed.columns:
            print(file)
            continue
        df_corrected = df_renamed.astype(columns_types)
        final_dfs.append(df_corrected)
    except Exception as e:
        skipped_files.append(file)

for file in skipped_files:
    try:
        df = pd.read_csv(file, encoding='cp1252')
        df_cleaned = df.dropna()  # Remove null values
        df_renamed = df_cleaned.rename(columns_mapping, axis=1) # Rename columns if necessary
        if "End Station Id" not in df_renamed.columns or "Start Station Id" not in df_renamed.columns:
            print(file)
            continue
        df_corrected = df_renamed.astype(columns_types)
        final_dfs.append(df_corrected)
    except Exception as e:
        print(file)
        print(e)

# Merge all datasets vertically
merged_df = pd.concat(final_dfs, join='inner', ignore_index=True)

Data/bikeshare-ridership-2017/2017 Data/Bikeshare Ridership (2017 Q3).csv
Data/bikeshare-ridership-2017/2017 Data/Bikeshare Ridership (2017 Q4).csv

In [7]:
len(merged_df)

25294167

#### fix 2017 Q3 Q4 data

In [8]:
## extra dfs

leftout_files = ["Data/bikeshare-ridership-2017/2017 Data/Bikeshare Ridership (2017 Q3).csv" 
                ,"Data/bikeshare-ridership-2017/2017 Data/Bikeshare Ridership (2017 Q4).csv"]

leftout_dfs = []

for file in leftout_files:

    df = pd.read_csv(file, encoding='utf-8')
    df_cleaned = df.dropna()  # Remove null values
    df_renamed = df_cleaned.rename(columns_mapping, axis=1) # Rename columns if necessary
    df_corrected = df_renamed.astype(incomplete_columns_types, errors='ignore')
    leftout_dfs.append(df_corrected)

In [9]:
leftout_merged_df = pd.concat(leftout_dfs, join='inner', ignore_index=True)

In [10]:
leftout_merged_df

,Trip Id,Start Time,End Time,Trip Duration,Start Station Name,End Station Name,User Type
0,1253914,2017-07-01 00:00:00,2017-07-01 00:15:00,910,Princess St / Adelaide St E,424 Wellington St W,Member
1,1253915,2017-07-01 00:01:00,2017-07-01 00:15:00,837,Fort York Blvd / Capreol Crt,HTO Park (Queens Quay W),Casual
2,1253916,2017-07-01 00:01:00,2017-07-01 00:14:00,786,Fort York Blvd / Capreol Crt,HTO Park (Queens Quay W),Casual
3,1253917,2017-07-01 00:01:00,2017-07-01 00:25:00,1420,Elizabeth St / Edward St (Bus Terminal),Boston Ave / Queen St E,Casual
4,1253918,2017-07-01 00:01:00,2017-07-01 00:25:00,1437,Elizabeth St / Edward St (Bus Terminal),Boston Ave / Queen St E,Casual
...,...,...,...,...,...,...,...
1026887,2383642,2017-12-31 23:46:27,2017-12-31 23:46:53,26,Bloor St / Brunswick Ave,Bloor St / Brunswick Ave,Casual
1026888,2383643,2017-12-31 23:47:13,2018-01-01 00:11:40,1467,Bloor St / Brunswick Ave,HTO Park (Queens Quay W),Casual
1026889,2383644,2017-12-31 23:47:40,2017-12-31 23:57:49,609,Kendal Ave / Spadina Rd,Augusta Ave / Denison Sq,Member
1026890,2383645,2017-12-31 23:49:08,2017-12-31 23:49:34,26,Phoebe St / Spadina Ave,Phoebe St / Spadina Ave,Member
1026891,2383646,2017-12-31 23:49:41,2017-12-31 23:57:41,480,Phoebe St / Spadina Ave,Simcoe St / Queen St W,Member

In [11]:
leftout_stations = set(leftout_merged_df['Start Station Name'].unique()).union(set(leftout_merged_df['End Station Name'].unique()))

In [12]:
other_stations = set(merged_df['Start Station Name'].unique()).union(set(merged_df['End Station Name'].unique()))

In [14]:
import numpy as np

remaining_stations = np.array([*(leftout_stations - other_stations)])
other_stations = np.array([*other_stations])

In [15]:
from threshold.similarity import similar
import numpy as np

matched = []

similarity_matrix = np.zeros((len(remaining_stations), len(other_stations)))

for i in range(len(remaining_stations)):
    for j in range(len(other_stations)):
        similarity_matrix[i, j] = similar(remaining_stations[i], other_stations[j])

In [16]:
inds = np.argpartition(similarity_matrix, -4, axis=1)[:,-4:]

In [17]:
for i in range(len(remaining_stations)):
    print(remaining_stations[i], list(zip(other_stations[inds[i]], similarity_matrix[i, inds[i]])))
    print("*"*10)

Lake Shore Blvd W / Ontario Dr(Ontario Place) [('Lake Shore Blvd W / Seventeenth St', 0.6329113924050633), ('Lake Shore Blvd W / Brow Dr', 0.6944444444444444), ('Lakeshore Blvd W / Ontario Dr', 0.7567567567567568), ('Lake Shore Blvd W / Ontario Dr', 0.8)]
**********
Fringe Next Stage - 7219 [('King St W / Stafford St', 0.425531914893617), ('Princess St / Adelaide St E', 0.43137254901960786), ('Yonge St / Alexander St - SMART', 0.43636363636363634), ('Yonge St / Merton St ', 0.4444444444444444)]
**********
Margueretta St / College St [('St Clarens Ave / College St', 0.6296296296296297), ('Beverly St / College St W', 0.6923076923076923), ('Beverley St / College St', 0.7450980392156863), ('Margueretta St / College St W', 0.9642857142857143)]
**********
Roxton Rd / College St [('St Clarens Ave / College St', 0.6530612244897959), ('Ossington Ave / College St W', 0.68), ('Ossington Ave / College St', 0.7083333333333334), ('Roxton Rd / Harbord St', 0.7272727272727273)]
**********
Beverly St / College St [('Margueretta St / College St W', 0.6923076923076923), ('University Ave / College St', 0.72), ('Beverley St / College St', 0.9787234042553191), ('Beverly St / College St W', 0.9583333333333334)]
**********
Lansdowne Subway Green P [('Woodbine Subway Green P SMART', 0.6792452830188679), ('Lansdowne Subway Station', 0.75), ('Pape Subway Green P', 0.7906976744186046), ('Landsdowne Subway Green P', 0.9795918367346939)]
**********
Summerhill Ave / MacLennan Ave - SMART [('Wright Ave / Sorauren Ave - SMART', 0.676056338028169), ('Fulton Ave / Pape Ave - SMART', 0.6865671641791045), ('Rosehill Ave / Avoca Ave - SMART', 0.7142857142857143), ('Summerhill Ave / Maclennan Ave', 0.8529411764705882)]
**********
Dovercourt Rd / Harrison St - SMART [('Blythwood Rd / Yonge St - SMART', 0.6363636363636364), ('Davenport Rd / Oakwood Rd - SMART', 0.6764705882352942), ('Davenport Rd / McAlpine St - SMART', 0.7246376811594203), ('Dovercourt Rd / Harrison St (Green P) - SMART', 0.875)]
**********
Michael Sweet Ave / St. Patrick St [('Simcoe St / Michael Sweet Ave', 0.5396825396825397), ('Mutual St / Shuter St', 0.5454545454545454), ('Dundas St W / St. Patrick St', 0.7096774193548387), ('Simcoe St / Michael Sweet Ave - SMART', 0.5633802816901409)]
**********
Base Station [('Castle Frank Station', 0.6875), ('Donlands Station', 0.7142857142857143), ('Chester Station', 0.7407407407407407), ('Rosedale Station', 0.7142857142857143)]
**********

In [18]:
name_changes = {"Dovercourt Rd / Harrison St - SMART": 'Dovercourt Rd / Harrison St (Green P) - SMART',
 "Lake Shore Blvd W / Ontario Dr(Ontario Place)": 'Lake Shore Blvd W / Ontario Dr',
 "Lansdowne Subway Green P": 'Landsdowne Subway Green P',
 "Margueretta St / College St": 'Margueretta St / College St W',
 "Summerhill Ave / MacLennan Ave - SMART": 'Summerhill Ave / Maclennan Ave',
 "Roxton Rd / College St": 'Ossington Ave / College St',
 "Michael Sweet Ave / St. Patrick St": 'Dundas St W / St. Patrick St',
 "Beverly St / College St": 'Beverley St / College St'}

In [19]:
#removal of 'Base Station'

leftout_merged_df = leftout_merged_df[(leftout_merged_df["Start Station Name"] != "Base Station") & (leftout_merged_df["End Station Name"] != "Base Station")]

In [20]:
for change in name_changes.items():

    leftout_merged_df.loc[leftout_merged_df['Start Station Name'] == change[0], 'Start Station Name'] = change[1]

    leftout_merged_df.loc[leftout_merged_df['End Station Name'] == change[0], 'End Station Name'] = change[1]

In [21]:
leftout_stations = set(leftout_merged_df['Start Station Name'].unique()).union(set(leftout_merged_df['End Station Name'].unique()))
other_stations = set(merged_df['Start Station Name'].unique()).union(set(merged_df['End Station Name'].unique()))

remaining_stations = np.array([*(leftout_stations - other_stations)])
other_stations = np.array([*other_stations])

# replacing Fringe Next Stage - 7219 with King St / Victoria St
remaining_stations[remaining_stations == "Fringe Next Stage - 7219"] = "King St / Victoria St"

In [22]:
remaining_stations

array(['King St / Victoria St'], dtype='<U24')

In [23]:
from threshold.similarity import similar
import numpy as np

matched = []

similarity_matrix = np.zeros((len(remaining_stations), len(other_stations)))

for i in range(len(remaining_stations)):
    for j in range(len(other_stations)):
        similarity_matrix[i, j] = similar(remaining_stations[i], other_stations[j])

inds = np.argpartition(similarity_matrix, -4, axis=1)[:,-4:]

In [24]:
for i in range(len(remaining_stations)):
    print(remaining_stations[i], list(zip(other_stations[inds[i]], similarity_matrix[i, inds[i]])))
    print("*"*10)

King St / Victoria St [('King St W / York St', 0.75), ('King St W / Jordan St', 0.7619047619047619), ('King St E / Victoria St', 0.9545454545454546), ('Dundas St E / Victoria St', 0.782608695652174)]
**********

In [25]:
new_name_changes = {"Fringe Next Stage - 7219": 'King St E / Victoria St'}

for change in new_name_changes.items():

    leftout_merged_df.loc[leftout_merged_df['Start Station Name'] == change[0], 'Start Station Name'] = change[1]

    leftout_merged_df.loc[leftout_merged_df['End Station Name'] == change[0], 'End Station Name'] = change[1]

In [26]:
leftout_stations = set(leftout_merged_df['Start Station Name'].unique()).union(set(leftout_merged_df['End Station Name'].unique()))
other_stations = set(merged_df['Start Station Name'].unique()).union(set(merged_df['End Station Name'].unique()))

remaining_stations = np.array([*(leftout_stations - other_stations)])
remaining_stations

array([], dtype=float64)

In [27]:
temp1_df = merged_df[["Start Station Id", "Start Station Name"]].rename({'Start Station Id':'Id', 'Start Station Name': 'Name'}, axis=1)
temp2_df = merged_df[["End Station Id", "End Station Name"]].rename({'End Station Id':'Id', 'End Station Name': 'Name'}, axis=1)
temp_df = pd.concat([temp1_df, temp2_df]).drop_duplicates()
temp_df = temp_df.drop_duplicates(subset='Name', keep="last") # this is important to avoid adding multiple ids for a single name
temp_df

            Id                               Name
0         7051  Wellesley St E / Yonge St Green P
1         7143           Kendal Ave / Bernard Ave
2         7113       Parliament St / Aberdeen Ave
3         7077                 College Park South
4         7079              McGill St / Church St
...        ...                                ...
22017510  7795             519 Church St  - SMART
22018120  7866                 695 Lansdowne Ave
24238999  7793                        2 Church St
10299581  7481     Westmount Ave / St Clair Ave W
16821461  7690             Bike Shop Test Station

[1138 rows x 2 columns]

In [28]:
leftout_merged_df = leftout_merged_df.reset_index(drop=True)

In [29]:
leftout_merged_df['Start Station Id'] = pd.merge(temp_df, leftout_merged_df, left_on='Name', right_on='Start Station Name', how='right')['Id'].astype('int32')
leftout_merged_df['End Station Id'] = pd.merge(temp_df, leftout_merged_df, left_on='Name', right_on='End Station Name', how='right')['Id'].astype('int32')

In [31]:
leftout_merged_df.to_csv('2017_Q3_Q4_fixed.csv')

In [30]:
len(leftout_merged_df)

1026889

In [32]:
merged_df = pd.concat([merged_df, leftout_merged_df], join='inner', ignore_index=True)

In [33]:
len(merged_df)

26321056

#### there are ids assigned to multiple station names and names that have multiple ids.

need to deal with both.

In [82]:
temp1_df = merged_df[["Start Station Id", "Start Station Name"]].rename({'Start Station Id':'Id', 'Start Station Name': 'Name'}, axis=1)
temp2_df = merged_df[["End Station Id", "End Station Name"]].rename({'End Station Id':'Id', 'End Station Name': 'Name'}, axis=1)
temp_df = pd.concat([temp1_df, temp2_df]).drop_duplicates()
temp_df

            Id                          Name
0         7051         Mutual St / Shuter St
1         7143      Kendal Ave / Bernard Ave
2         7113  Parliament St / Aberdeen Ave
3         7077            College Park South
4         7079         McGill St / Church St
...        ...                           ...
17094740  7880      Lindylou Rd / Lanyard Rd
22017322  7905  Palmerston Blvd / Herrick St
22017510  7795        519 Church St  - SMART
24238999  7793                   2 Church St
16821461  7690        Bike Shop Test Station

[867 rows x 2 columns]

In [83]:
temp_temp_df = (temp_df.groupby("Name").count() > 1).reset_index()

In [84]:
temp_temp_df[temp_temp_df['Id'] == True]

Empty DataFrame
Columns: [Name, Id]
Index: []

In [85]:
temp_df[temp_df['Name'] =="Adelaide St W / Portland St"]

           Id                         Name
1611418  7372  Adelaide St W / Portland St

In [86]:
temp_temp_df = (temp_df.groupby("Id").count() > 1).reset_index()

In [87]:
temp_temp_df[temp_temp_df['Name'] == True]

Empty DataFrame
Columns: [Id, Name]
Index: []

In [88]:
temp_df[temp_df['Id'] ==7001]

           Id                       Name
7736147  7001  Wellesley Station Green P

In [89]:
temp_df['Id'].nunique()

867

In [90]:
temp_df['Name'].nunique()

867

#### fix ids associated with multiple names

In [47]:
# First
from threshold.similarity import compute_avg_similarity

threshold = 0.33
changes = []

# we are trying to find the mapping and after we've found one, we replace the duplicates
for id in temp_temp_df[temp_temp_df['Name'] == True].Id.to_numpy():
    duplicates = temp_df[temp_df['Id'] == id]
    size = len(duplicates)

    # try:
    #     choice = int(input("Input: "))
    # except Exception as e:
    #     print(f"you didn't choose for id = {id}")
    #     continue

    similarity = compute_avg_similarity(duplicates.Name.to_numpy())

    if similarity > threshold:
        choice = size - 1
    else:
        choice = size
    
    # if any of the choices -> add a tuple for every other choice
    # else do nothing
    if choice < size:
        
        choice_name = duplicates.iloc[choice, 1]

        for i in range(size):
            if i == choice:
                continue
            changes.append((duplicates.iloc[i, 1], choice_name))

In [49]:
# First
from tqdm.notebook import tqdm

for change in tqdm(changes):

    # print (change)

    merged_df.loc[merged_df['Start Station Name'] == change[0], 'Start Station Name'] = change[1]

    merged_df.loc[merged_df['End Station Name'] == change[0], 'End Station Name'] = change[1]

    # df.loc[df["gender"] == "male", "gender"] = 1

  0%|          | 0/267 [00:00<?, ?it/s]

In [59]:
# Second

# got to fix some by inspection:

new_changes = []

for id in [7117, 7130, 7291, 7381]:
    duplicates = temp_df[temp_df['Id'] == id]
    size = len(duplicates)

    choice = size - 1
        
    choice_name = duplicates.iloc[choice, 1]

    for i in range(size):
        if i == choice:
            continue
        new_changes.append((duplicates.iloc[i, 1], choice_name))

In [60]:
#Second

for change in new_changes:

    merged_df.loc[merged_df['Start Station Name'] == change[0], 'Start Station Name'] = change[1]

    merged_df.loc[merged_df['End Station Name'] == change[0], 'End Station Name'] = change[1]

In [79]:
# Forth
# getting new ids for the places left with duplicate ids

available_ids = list(set(range(7000,8000)) - set(temp_df['Id'].unique()))

In [80]:
# Forth
# got to fix some by inspection:
import random

new_id_changes = []

temp_temp_df = (temp_df.groupby("Id").count() > 1).reset_index()

for id in temp_temp_df[temp_temp_df['Name'] == True].Id.to_numpy():

    # choose one of the options to change id for
    duplicates = temp_df[temp_df['Id'] == id]
    size = len(duplicates)

    choice = size - 1 
    choice_name = duplicates.iloc[choice, 1]

    new_id = random.choice(available_ids)
    available_ids.remove(new_id)

    new_id_changes.append(((id, choice_name), new_id))

In [81]:
# Forth
for id_change in new_id_changes:

    merged_df.loc[(merged_df['Start Station Id'] == id_change[0][0]) & (merged_df['Start Station Name'] == id_change[0][1]), 'Start Station Id'] = id_change[1]

    merged_df.loc[(merged_df['End Station Id'] == id_change[0][0]) & (merged_df['End Station Name'] == id_change[0][1]), 'End Station Id'] = id_change[1]

#### fix stations associated with multiple ids

In [67]:
temp_temp_df = (temp_df.groupby("Name").count() > 1).reset_index()
temp_temp_df[temp_temp_df['Id'] == True]

                                          Name    Id
59                 Adelaide St W / Portland St  True
267       East Liberty St / Western Battery Rd  True
305                     Fleet St / Bathurst St  True
492            Lower Jarvis St / The Esplanade  True
585                 Princes' Blvd / Nunavut Rd  True
629  Riverdale Park South (Broadview Ave, old)  True
860                York St / Lake Shore Blvd W  True

In [84]:
temp_df[temp_df['Name'] == "York St / Lake Shore Blvd W"]

           Id                         Name
3216670  7398  York St / Lake Shore Blvd W
3304744  7470  York St / Lake Shore Blvd W

In [85]:
temp_df[temp_df['Id']==7398]

           Id                         Name
3216670  7398  York St / Lake Shore Blvd W

In [86]:
temp_df[temp_df['Id']==7470]

           Id                         Name
3304744  7470  York St / Lake Shore Blvd W

In [68]:
# Third

comb_to_change = [((7001, "Lower Jarvis St / The Esplanade"), 7686)]

for change in comb_to_change:

    merged_df.loc[(merged_df['Start Station Id'] == change[0][0]) & (merged_df['Start Station Name'] == change[0][1]), 'Start Station Id'] = change[1]

    merged_df.loc[(merged_df['End Station Id'] == change[0][0]) & (merged_df['End Station Name'] == change[0][1]), 'End Station Id'] = change[1]

In [69]:
# Third

id_to_change = [(7720, 7372), (7685, 7322), (7712, 7072), (7680, 7510), (7792, 7098), (7470, 7398)]

for change in id_to_change:

    merged_df.loc[merged_df['Start Station Id'] == change[0], 'Start Station Id'] = change[1]

    merged_df.loc[merged_df['End Station Id'] == change[0], 'End Station Id'] = change[1]

#### make memberships consistent

In [91]:
merged_df['User Type'].unique()

array(['Member', 'Casual', 'Annual Member', 'Casual Member'], dtype=object)

In [92]:
def change_membership(membership):
    if membership == 'Annual Member':
        return 'Member'
    elif membership == 'Casual Member':
        return 'Casual'
    else:
        return membership

merged_df['User Type'] = merged_df['User Type'].apply(change_membership)

#### remove fake trips (less than 30 seconds)

In [93]:
len(merged_df)

26321056

In [94]:
len(merged_df[merged_df['Trip Duration'] < 30]) ## TODO: 60 -> 30s

74752

In [95]:
merged_df = merged_df[merged_df['Trip Duration'] > 29]

In [96]:
len(merged_df)

26246304

In [97]:
merged_df.to_csv('bike_share_toronto_full_30s.csv')

#### remove fake trips (same station as destination)

In [98]:
len(merged_df)

26246304

In [99]:
len(merged_df[merged_df['Start Station Id'] == merged_df['End Station Id']])

1002280

In [100]:
merged_df = merged_df[merged_df['Start Station Id'] != merged_df['End Station Id']]

In [101]:
len(merged_df)

25244024

In [102]:
merged_df.to_csv('bike_share_toronto_full_30s_noself.csv')

#### now convert to network

In [2]:
import pandas as pd

merged_df = pd.read_csv('bike_share_toronto_full_30s_noself.csv').reset_index(drop=True)

In [4]:
merged_df = merged_df.drop([merged_df.columns[0],merged_df.columns[1]], axis=1)

In [104]:
node_list = list(set(merged_df['Start Station Id']).union(set(merged_df['End Station Id'])))

In [105]:
len(node_list)

866

based on the data available, we can make many networks<br>
network of all trips<br>
members vs casuals<br>
seasons netowrks<br>
months networks<br>
12 weekly / 90 daily networks per each season to compare in groups<br>
covid vs non-covid network

#### whole trips

In [6]:
whole_trips_df = merged_df[['Start Time', 'End Time', 'Trip Id', 'Trip Duration', 'Start Station Id', 'End Station Id']]

In [18]:
whole_trips_df = whole_trips_df.astype({'Start Time': 'datetime64[ns]', 'End Time': 'datetime64[ns]'})

In [22]:
whole_trips_df

,Start Time,End Time,Trip Id,Trip Duration,Start Station Id,End Station Id
0,2017-01-01 00:00:00,2017-01-01 00:03:00,712382,223,7051,7089
1,2017-01-01 00:00:00,2017-01-01 00:05:00,712383,279,7143,7154
2,2017-01-01 00:05:00,2017-01-01 00:29:00,712384,1394,7113,7199
3,2017-01-01 00:07:00,2017-01-01 00:21:00,712385,826,7077,7010
4,2017-01-01 00:08:00,2017-01-01 00:12:00,712386,279,7079,7047
...,...,...,...,...,...,...
25244019,2017-12-31 23:37:43,2017-12-31 23:43:00,2383640,317,7152,7184
25244020,2017-12-31 23:42:06,2017-12-31 23:58:24,2383641,978,7012,7184
25244021,2017-12-31 23:47:13,2018-01-01 00:11:40,2383643,1467,7061,7175
25244022,2017-12-31 23:47:40,2017-12-31 23:57:49,2383644,609,7132,7189
25244023,2017-12-31 23:49:41,2017-12-31 23:57:41,2383646,480,7020,7022

In [178]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Set upper limit to the 99th percentile
upper_limit = np.percentile(whole_trips_df['Trip Duration'], 99)
whole_trips_df['Scaled Duration'] = np.clip(whole_trips_df['Trip Duration'], None, upper_limit)

/tmp/ipykernel_48732/638465002.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whole_trips_df.loc['Scaled Duration'] = np.clip(whole_trips_df['Trip Duration'], None, upper_limit)

In [128]:
# Normalize using Min-Max Scaling
scaler = MinMaxScaler((2, 100))
whole_trips_df['Scaled Duration'] = scaler.fit_transform(whole_trips_df['Scaled Duration'].values.reshape(-1, 1))

/tmp/ipykernel_48732/3718487274.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whole_trips_df['Scaled Duration'] = scaler.fit_transform(whole_trips_df['Scaled Duration'].values.reshape(-1, 1))

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.boxplot(data=whole_trips_df['Scaled Duration'])

In [29]:
temp_df = whole_trips_df[['Start Time', 'End Time', 'Start Station Id', 'End Station Id', 'Trip Id']].groupby(['Start Station Id', 'End Station Id']).agg({'Trip Id': 'count', 'Start Time': 'min', 'End Time': 'max'}).reset_index().rename({'Trip Id': 'Trip Count'}, axis=1)

In [30]:
temp_df['Link Duration'] = temp_df.apply(lambda x: (x['End Time'] - x['Start Time']).ceil('d'), axis=1).astype('timedelta64[D]')

In [31]:
temp_df['Avg Duration'] = whole_trips_df[['Start Station Id', 'End Station Id', 'Trip Duration']].groupby(['Start Station Id', 'End Station Id']).mean().reset_index()['Trip Duration']

In [33]:
temp_df['duration weights'] = temp_df['Avg Duration'].apply(lambda x: 1 / x)

In [34]:
temp_df['tpd weights'] = temp_df.apply(lambda x: x['Trip Count'] / x['Link Duration'], axis=1)

In [39]:
temp_df = temp_df.rename({'Trip Count': 'trip count weights'}, axis=1).drop(['Start Time', 'End Time', 'Link Duration', 'Avg Duration'], axis=1)

In [51]:
import numpy as np

nnp = np.percentile(temp_df[['trip count weights', 'duration weights', 'tpd weights']], 99, axis=0)

In [61]:
temp_df[['trip count weights', 'duration weights', 'tpd weights']] = np.clip(temp_df[['trip count weights', 'duration weights', 'tpd weights']], None, nnp)

In [65]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler((1, 10))
x_scaled = min_max_scaler.fit_transform(temp_df[['trip count weights', 'duration weights', 'tpd weights']])
temp_df[['trip count weights', 'duration weights', 'tpd weights']] = x_scaled

In [69]:
temp_df.to_csv('weight_list.csv')

In [68]:
import networkx as nx

G = nx.from_pandas_edgelist(temp_df, source="Start Station Id", target="End Station Id", edge_attr=['trip count weights', 'duration weights', 'tpd weights'], create_using=nx.DiGraph)

In [70]:
# binary directed

binary = nx.adjacency_matrix(G, weight=None).toarray()

In [71]:
# weighted (duration) directed

duration_weighted = nx.adjacency_matrix(G, weight='duration weights').toarray()

In [72]:
# weighted (trips) directed

trips_weighted = nx.adjacency_matrix(G, weight='trips weights').toarray()

In [63]:
from scipy.io import savemat

savemat('bst.mat', {'binary': binary, 'trips_w': trips_weighted, 'duration_w': duration_weighted})

In [73]:
nx.write_edgelist(G, 'bst_full_norm.edgelist', data=True)